body {
    height: 135vh;
    width: 100vw;

    background-image: url("../img/Background/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 3rem;
    padding-top: 1.5rem;
}

.sec-txt-secrets {
    align-self: flex-end;

    color: white;

    font-size: 1.5rem;
    font-weight: 700;
    
    line-height: 1;
}

.sec-principal {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 2rem;
}

.txt-principal {
    text-align: center;

    color: white;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 3rem;
    font-weight: 900;
    
    line-height: 1;
}

.img-sticker {
    height: 350px;
}

.btn-continue {
    text-align: center;

    color: white;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    
    line-height: 1;
}

.sec-btns {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: row;

    gap: 4rem;

    padding: 3rem 3rem 0 3rem;
}

.btn-yes, .btn-no {
    text-align: center;

    color: white;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    
    line-height: 1;
}

.img-secret{
    height: 300px;
}

.img-secret-two{
    height: 50px;
}